# Problem Set 2

## Question 1

Consider the following Python module:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

After importing the module into the interpreter, you execute:

b()
b()
b()
a
?

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

### Solution:-

In [1]:
a = 0

def b():
    global a
    a = c(a)
    return a

def c(a):
    return a + 2

In [2]:
b()

2

In [3]:
b()

4

In [4]:
b()

6

In [5]:
print(a)

6

 #### EXPLANATION
 
Initially global variable a is asigned a value 0

When b() function is called it returns a value 2 since c(a) function is called within the b()

Each time b() is caled 2 is added, therefore:

first time b() is called then a is 0 + 2 = 2
second time b() is called then a is 2 + 2 = 4
Third time b() is called then a is 4 + 2 = 6

Then finally a is evaluated as 6

## Question 2

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

    >>> fileLength('midterm.py') 
    284 
    >>> fileLength('idterm.py') 
Traceback (most recent call last):
    File "<pyshell#34>", line 1, in <module> 
        fileLength('idterm.py') 
    File "/Users/me/midterm.py", line 3, in fileLength 
        infile = open(filename) 
FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'
    
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:
    
    >>> fileLength('midterm.py') 
    358 
    
    >>> fileLength('idterm.py') 
    
    File idterm.py not found.

### Solution:-

In [6]:
def fileLength(filename):

        try:
                f=open(filename,'r')
                read_data=f.readlines()
                line=""
                for i in read_data:
                        line+=i
                result=len(line)
                return result
        except FileNotFoundError:
                return ("File {} not found.".format(filename))

In [7]:
print(fileLength('midterm.py'))

175

In [8]:
print(fileLength('midterm123.py'))

File midterm123.py not found.

## Question 3

Write a class named Marsupial that can be used as shown below: 

>>> m = Marsupial() 
>>> m.put_in_pouch('doll') 
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten') 
>>> m.pouch_contents() 
['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:

a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,

b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and

c. overloads the __str__ operator so it behaves as shown below.

>>> k = Kangaroo(0,0) 
>>> print(k) 
I am a Kangaroo located at coordinates (0,0) 
>>> k.put_in_pouch('doll') 
>>> k.put_in_pouch('firetruck') 
>>> k.put_in_pouch('kitten') 
>>> k.pouch_contents() 
['doll', 'firetruck', 'kitten'] 
>>> k.jump(1,0) 
>>> k.jump(1,0) 
>>> k.jump(1,0) 
>>> print(k) 
I am a Kangaroo located at coordinates (3,0)

### Solution:-

In [57]:
class Marsupial:
    
    def __init__(self):
        self.lst = []

    def put_in_pouch(self, item):
        self.lst.append(item)

    def pouch_contents(self):
        return self.lst

class Kangaroo(Marsupial):
    
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
        
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return (f'I am a Kangaroo located at coordinates ({self.x},{self.y})')

In [58]:
k = Kangaroo(0,0)

In [59]:
print(k)

I am a Kangaroo located at coordinates (0,0)

In [60]:
k.put_in_pouch('doll')

In [61]:
k.put_in_pouch('firetruck')

In [62]:
k.put_in_pouch('kitten')

In [63]:
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [64]:
k.jump(1,0)

In [65]:
k.jump(1,0)

In [66]:
k.jump(1,0)

In [67]:
print(k)

I am a Kangaroo located at coordinates (3,0)

## Question 4

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛3𝑥+1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑

Your function should stop when the sequence gets to number 1.
Your implementation must be recursive, without any loops.

### Solution:-

In [25]:
def collatz(x):
    if x == 1:
        print(x)
    elif x % 2 == 0:
        print(x)
        x = x/2
        collatz(x)

    else:
        print(x)
        x = 3*x + 1
        collatz(x)

In [27]:
collatz(1)

1

In [28]:
collatz(10)

10
5.0
16.0
8.0
4.0
2.0
1.0

## Question 5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

### Solution:-

In [29]:
def binary(num):
    if num == 0:
        return '0'
    else:
        b = ''
        while num > 0:
            b = str((num % 2)) + b
            num //= 2
        return b

In [30]:
binary(0)

'0'

In [31]:
binary(1)

'1'

In [32]:
binary(3)

'11'

In [33]:
binary(9)

'1001'

## Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

### Solution:-

In [37]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    headers = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']

    def handle_starttag(self, tag, attrs):
        if tag in self.headers:
            print(tag)

    def handle_endtag(self, tag):
        if tag in self.headers:
            print(tag)

    def handle_data(self, data):
        print(data)

In [38]:
infile = open('w3c.html')

In [39]:
content = infile.read()

In [40]:
infile.close()

In [41]:
hp = HeadingParser()

In [42]:
hp.feed(content)

Change_me














h1
W3C Mission
h1


h2
Principles
h2

## Question 8

Write SQL queries on the below database table that return:

a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

### Solution:-

In [123]:
%%!
pip install --trusted-host pypi.org ipython-sql

['Requirement already satisfied: ipython-sql in c:\\users\\iamsh\\anaconda3\\lib\\site-packages (0.4.0)',
 'Requirement already satisfied: prettytable<1 in c:\\users\\iamsh\\anaconda3\\lib\\site-packages (from ipython-sql) (0.7.2)',
 'Requirement already satisfied: sqlparse in c:\\users\\iamsh\\anaconda3\\lib\\site-packages (from ipython-sql) (0.4.2)',
 'Requirement already satisfied: sqlalchemy>=0.6.7 in c:\\users\\iamsh\\anaconda3\\lib\\site-packages (from ipython-sql) (1.4.7)',
 'Requirement already satisfied: six in c:\\users\\iamsh\\anaconda3\\lib\\site-packages (from ipython-sql) (1.15.0)',
 'Requirement already satisfied: ipython-genutils>=0.1.0 in c:\\users\\iamsh\\anaconda3\\lib\\site-packages (from ipython-sql) (0.2.0)',
 'Requirement already satisfied: ipython>=1.0 in c:\\users\\iamsh\\anaconda3\\lib\\site-packages (from ipython-sql) (7.22.0)',
 'Requirement already satisfied: setuptools>=18.5 in c:\\users\\iamsh\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)',
 'Requirement already satisfied: jedi>=0.16 in c:\\users\\iamsh\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)',
 'Requirement already satisfied: colorama in c:\\users\\iamsh\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)',
 'Requirement already satisfied: traitlets>=4.2 in c:\\users\\iamsh\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)',
 'Requirement already satisfied: backcall in c:\\users\\iamsh\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)',
 'Requirement already satisfied: pickleshare in c:\\users\\iamsh\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)',
 'Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\\users\\iamsh\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)',
 'Requirement already satisfied: pygments in c:\\users\\iamsh\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)',
 'Requirement already satisfied: decorator in c:\\users\\iamsh\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)',
 'Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\\users\\iamsh\\anaconda3\\lib\\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)',
 'Requirement already satisfied: wcwidth in c:\\users\\iamsh\\anaconda3\\lib\\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)',
 'Requirement already satisfied: greenlet!=0.4.17 in c:\\users\\iamsh\\anaconda3\\lib\\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)']

In [125]:
%reload_ext sql

In [126]:
%sql sqlite://

In [136]:
%%sql
CREATE TABLE CITYTEMP(
city varchar(50),
country varchar(50),
season varchar(50),
temperature float,
rainfall float
);
INSERT INTO CITYTEMP VALUES('Mumbai', 'India', 'Winter', 24.8,5.9),
('Mumbai', 'India', 'Spring', 28.4,16.2),
('Mumbai', 'India', 'Summer', 27.9,1549.4),
('Mumbai', 'India', 'Fall', 27.6,346.0),
('London', 'United kingdom', 'Winter', 4.2,207.7),
('London', 'United kingdom', 'Spring', 8.3,169.6),
('London', 'United kingdom','Summer', 15.7,157.0),
('London', 'United kingdom','Fall', 10.4,218.5),
('Cairo', 'Egypt','Winter', 13.6,16.5),
('Cairo', 'Egypt', 'Spring', 20.7,6.5),
('Cairo', 'Egypt', 'Spring', 27.7,0.1),
('Cairo', 'Egypt', 'Spring', 22.2,4.5);

SELECT * from CITYTEMP;

 * sqlite://
   sqlite:///chinook.db
Done.
12 rows affected.
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Spring', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Spring', 22.2, 4.5)]

#### Answer a

In [137]:
%%sql
SELECT TEMPERATURE from CITYTEMP;

 * sqlite://
   sqlite:///chinook.db
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

#### Answer b

In [138]:
%%sql
SELECT DISTINCT CITY from CITYTEMP;

 * sqlite://
   sqlite:///chinook.db
Done.

[('Mumbai',), ('London',), ('Cairo',)]

#### Answer c

In [139]:
%%sql
SELECT * from CITYTEMP WHERE COUNTRY == 'India';

 * sqlite://
   sqlite:///chinook.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

#### Answer d

In [140]:
%%sql
SELECT * from CITYTEMP WHERE SEASON == 'Fall';

 * sqlite://
   sqlite:///chinook.db
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United kingdom', 'Fall', 10.4, 218.5)]

#### Answer e

In [141]:
%%sql
SELECT CITY, COUNTRY, SEASON from CITYTEMP WHERE RAINFALL BETWEEN 200 and 400;

 * sqlite://
   sqlite:///chinook.db
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United kingdom', 'Winter'),
 ('London', 'United kingdom', 'Fall')]

#### Answer f

In [142]:
%%sql
SELECT CITY, COUNTRY from CITYTEMP WHERE SEASON == 'Fall' and TEMPERATURE >20 ORDER BY TEMPERATURE ASC;

 * sqlite://
   sqlite:///chinook.db
Done.

[('Mumbai', 'India')]

#### Answer g

In [143]:
%%sql
SELECT sum(rainfall) AS ANNUAL_RAINFALL from CITYTEMP WHERE CITY == 'Cairo';

 * sqlite://
   sqlite:///chinook.db
Done.

[(27.6,)]

#### Answer h

In [144]:
%%sql
SELECT SEASON, sum(rainfall) AS TOTAL_RAINFALL from CITYTEMP group by season;

 * sqlite://
   sqlite:///chinook.db
Done.

[('Fall', 564.5),
 ('Spring', 196.89999999999998),
 ('Summer', 1706.4),
 ('Winter', 230.1)]

## Question 9

Suppose list words is defined as follows:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

### Solution:-

In [45]:
words =  ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

print("a)",[word.upper() for word in words])
print("b)",[word.lower() for word in words])
print("c)",[len(word) for word in words])
print("d)",[[word.upper(), word.lower(), len(word)] for word in words])
print("e)",[word for word in words if len(word)>=4])

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3]
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
e) ['quick', 'brown', 'jumps', 'over', 'lazy']